<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige todo al subdirectorio public/ donde vive el index.php de Laravel
    RewriteCond %{REQUEST_URI} !^/public
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>
